LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=mcp-todo
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=
TAVILY_API_KEY=your_tavily_api_key
MCP_SERVER_URL=http://localhost:8000
CALLBACK_URL=http://localhost:9090/callback
